APP_NAME=Laravel
APP_ENV=l
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost

APP_LOCALE=en
APP_FALLBACK_LOCALE=en
APP_FAKER_LOCALE=en_US

APP_MAINTENANCE_DRIVER=file
# APP_MAINTENANCE_STORE=database

PHP_CLI_SERVER_WORKERS=4

BCRYPT_ROUNDS=12

LOG_CHANNEL=stack
LOG_STACK=single
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=cashflow
DB_USERNAME=root
DB_PASSWORD=

SESSION_DRIVER=database
SESSION_LIFETIME=120
SESSION_ENCRYPT=false
SESSION_PATH=/
SESSION_DOMAIN=null

BROADCAST_CONNECTION=log
FILESYSTEM_DISK=local
QUEUE_CONNECTION=database

CACHE_STORE=database
# CACHE_PREFIX=

MEMCACHED_HOST=127.0.0.1

REDIS_CLIENT=phpredis
REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_MAILER=log
MAIL_SCHEME=null
MAIL_HOST=127.0.0.1
MAIL_PORT=2525
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_FROM_ADDRESS="hello@example.com"
MAIL_FROM_NAME="${APP_NAME}"

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=
AWS_USE_PATH_STYLE_ENDPOINT=false

VITE_APP_NAME="${APP_NAME}"
SANCTUM_STATEFUL_DOMAINS=cashflow.fdkh.ir,organ-cashflow.fdkh.ir

RAHKARAN_BASE_ENDPOINT=http://5.160.184.51:5200/cashflow/api
RAHKARAN_TIMELINE_BASE_ENDPOINT=http://5.160.184.51:5200/timeline

FRONTEND_URL=http://localhost:3000
ADMIN_FRONTEND_URL=http://localhost:5173
ORGAN_FRONTEND_URL=http://localhost:5174


PARSIAN_SANDBOX_URL=https://sandbox.parsian-bank.ir/channelServices/1.0
PARSIAN_API_TOKEN=token
BANK_BALANCE_ENABLED_BANKS=parsian


APP_TIMEZONE='Asia/Tehran'

# Parsian Bank
PARSIAN_OAUTH_TOKEN_URL=https://oauth2.parsian-bank.ir/oauth2/token
PARSIAN_OAUTH_SANDBOX_TOKEN_URL=https://sandbox.parsian-bank.ir/oauth2/token
PARSIAN_SANDBOX_URL=https://sandbox.parsian-bank.ir/channelServices/1.0
PARSIAN_API_URL=https://openapi.parsian-bank.ir/channelServices/1.0/
PARSIAN_USE_SANDBOX=true
ARZESH_PARSIAN_CLIENT_ID=
ARZESH_PARSIAN_CLIENT_SECRET=
SCHNEL_PARSIAN_CLIENT_ID=
SCHNEL_PARSIAN_CLIENT_SECRET=


